/* CSS EL MEHDI */

:root {
    --blue: #01369B;
    --footerColor: #2522;
    --orange: #E5994A;
    --black: #000000;
    --white: #f8f8f8;
    --gray:#D9D9D9;
}
@font-face {
    font-family: Inter;
    src: url('../font/inter.ttf');
}
body{
    margin: 0;
    padding: 0;
    font-family: Inter;
    background-color: var(--white);
}
img{
    width: 100%;
}
header{
    padding: 20px;
}
header .header_top{
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    
}
header .header_top a i {
    color: var(--blue);
}
header .header_top img{
    width: 30%;
}
header .header_top a{
    float: right;
    margin: auto 0;
}
header .header_txt{
    text-align: center;
}
.header_top{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.header_top img{
    width: 20%;
}
header *{
    margin: auto 0;
}
header i{
    font-size: 30px;
}
header .header_title hr{
    height: 2px;
    background-color: var(--black);
}
hr{
    width: 99.8%;
    height: 10px;
    background-color: var(--blue);
}
footer{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    bottom: 0;
    text-align: center;
}
table td{
    height: 30px;
}
.button{
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}
.button-present{
    background-color: var(--blue);
    color: var(--white);
    border: solid 1px  var(--blue);
}
.button-absent{
    background-color: var(--white);
    color: var(--orange);
    border: solid 1px var(--orange);
}










































































































/* CSS PHILIPPE */
/* Tableau liste des événements user */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
.center-text{
    text-align: center;
}
/* boutons événement user */
.button{
    border-radius: 0.4rem;
}






































































































































































































/* CSS OUSSAMA */ 
.padding_connexion{
    margin: auto;
}
.login_inter{
    background-color:  var(--blue);
    border-radius: 10px;
    border: none;
    color: var(--white);


}
main{
    display: flex;
}
.main{
 margin: auto;    
}
form{
    display: grid;
  
    
}
.button{
    display: flex;
  
}
button{
    margin: 4px auto auto auto;
    background-color: var(--blue);  
    color: white;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}
.input{
    display: flex;
}
input{
    margin: auto;
    background-color: var(--gray);
    padding: 5px;
}
h1{
    margin-bottom: 25%;
    margin-left: 25px;
}
.probleme{
    display: flex;
    
}
a{
    margin: auto;
    text-decoration: underline;
    color: var(--black);

 
}
.buttons{
    display: grid;
    margin:auto;
}

.button{
    
    width:200px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    
}
.button_font a{
    color: white;
    
}
.deco{
    display: flex;
}
.deco a{
    margin :auto;
    font-weight: bold;
}



